
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Home/shared/Home.cshtml";
}

<style>
    body {
        background: linear-gradient(90deg, #00C9FF 20%, #92FE9D 90%);
        background-attachment: fixed;
        background-size: cover;
        color: white;
        margin: 0;
    }
</style>
<div class="container mt-4 pt-5">
    <h2 class="text-center mb-4 text-black">Contact Information</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="contact-box bg-primary text-white text-center p-3 mb-4">
                <h4>General Inquiries</h4>
                <p>Email: info@kaarinfotech.com</p>
                <p>Phone: +123-456-7890</p>
                <p>Address: 123 Tech Street, Technology City.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-box bg-success text-white text-center p-3 mb-4">
                <h4>Support</h4>
                <p>Email: support@kaarinfotech.com</p>
                <p>Phone: +123-456-7891</p>
                <p>Phone: +987-654-3232</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-box bg-info text-white text-center p-3 mb-4">
                <h4>Sales</h4>
                <p>Email: sales@kaarinfotech.com</p>
                <p>Phone: +123-456-7892</p>
                <p>Phone: +987-654-3232</p>
            </div>
        </div>
    </div>
</div>
